

<script>
  var markers = [];
  var evMap = null;
  $( document ).ready(function() {
    console.log( "ready!" );
    var button = $('.clickbutton')
    button.click(function(e) {
      console.log("hi")
      drawMap($(this).data("locations"))
    });
  });
  function initMap(){
    var initPlaces = $($(".clickbutton")[0]).data("locations")

    evMap = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: { lat: initPlaces[0][0], lng: initPlaces[0][1] }
    });

    drawMap(initPlaces);

  }

  function drawMap(places) { 
    for(var i = 0; i < markers.length; i++){
      markers[i].setMap(null);
    }
    markers = [];
    for(var i = 0; i < places.length; i++){
      var marker = new google.maps.Marker({
        position: { lat: places[i][0], lng: places[i][1] },
        map: evMap

      });
      markers.push(marker)
    }
    console.log(markers)

  }

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GEOCODER_API_KEY']%>&callback=initMap">
</script>
<div id="map"></div>

<div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
<div id="carousel-example-multi" class="carousel slide" data-ride="carousel" data-interval="false">

<!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <i class="fa fa-plus-circle"></i>
    </a>
    <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
<!--/.Controls-->

<!--Indicators-->
<ol class="carousel-indicators">
  <% @projects.each_with_index do |project, index| %> 
  <li data-target="#carousel-example-multi" data-slide-to=<%=index%> <%= index == 0 ? 'class="active"' : '' %>></li>

  <% end %>
</ol>
<!--/.Indicators-->

  <div class="carousel-inner" role="listbox">
    <% @projects.each_with_index do |project, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <div class="col-12 col-md-4">                                          
          <div class="card mb-2">
              <%= image_tag project.picture.url, class: "card-img-top" %>
            <div class="card-body">
              <h4 class="card-title font-weight-bold text-center" id="test">
                <%= project.name %>
              </h4>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary btn-md btn-rounded text-center clickbutton" data-locations="<%= project.places.map{|place| [place.latitude, place.longitude]} %>">Click me to show locations</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
</div>

